@import '/pages/base.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
#aboutApp {
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: 
    'header'
    'center'
    'footer';  
}
.header {
    margin-top: 20vw;
    margin-bottom: 2vw;
}
.centerText{
    margin-top: 0;
}
#statsPara{
    margin-bottom: 20vw;
}
#historyPara{
    margin-top: 10vw;
}
.img{
    margin-top: 1vw;
    margin-bottom: 1vw;
}