@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html{
    max-width: 100%;
    width: 100vw;
    padding: 0;
    margin: 0;

}
li
{
    list-style-position:inside;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #DCE0EB;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    color: #7AA7D2;
}
#header {
    position: fixed;

}

#header .item:hover {
    color: #A8C9EA;
    background-color: #95A59E;
}
#header{
    z-index: 1000;
    max-width: 100%;
    width: 100%;  
    background-color: #6A7865;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}
#header .item {
    display:flex;
    width: 25%;
    height: 100%;
    justify-content: center;
    text-decoration: none;
    color: #DCE0EB;
    font-size: 100%;
    line-height: 100%;
    margin: 0;
    align-items: center;

}
#footer .item {
    width: 25%;
    height: 100%;
    text-decoration: none;
    color: #7AA7D2;
    margin: 0;
    line-height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    }
@media (max-width: 768px){
    #title{
        height: auto;
        width: 100%;
        font-size: 7vh;
        text-align: center;
        line-height: 100%;
        margin-top: 10vh;
        margin-bottom: 2vh;
        padding: 0;
    } 
    #subtitle
    {
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        height: auto;
        width: 80%;
        font-size: 3vh;
        line-height: 100%;
        margin-bottom: 10vh;
    }
    #footer {
        height: 8vmax;
        width: 100%;    
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 10vh; 
    }
    #footer .item {
        font-size: 3vmax;
    }

    #header {
        height: 10vmax;
    }
    #centerContent .centerText{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    #centerContent{
        display: block;
        margin-top: 10vh;
        background-color: #DCE0EB;
        font-size: 3vh;
        text-align: center;
    }
    .img{
        display: block;
        height: 40vmax;
        width: 80%;
        margin: auto;
    }
    #header .item {
        font-size: 2.5vmax;
    }
}
@media (min-width: 769px) {
    #title{
        height: auto;
        width: 100%;
        font-size: 8vw;
        text-align: center;
        line-height: 100%;
        margin-top: 10vh;
        margin-bottom: 2vh;
        padding: 0;
    } 
    #subtitle
    {
        margin: 0;
        text-align: center;
        height: auto;
        width: 100%;
        font-size: 4vw;
        line-height: 100%;
        margin-bottom: 10vh;
    }
    #footer {
        height: 5vmax;
        width: 100%;    
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 10vh; 
    }
    #footer .item {
        font-size: 3vmax;
    }

    #header {
        height: 5vmax;
    }
    #header .item {
        font-size: 2vmax;
    }



#centerContent{
    display: block;
    margin-top: 10vh;
    background-color: #DCE0EB;
    font-size: 3vw;
    text-align: center;
}

#centerContent .centerText{
    width: 75vmax;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.img{
    display: block;
    height: 40vmax;
    width: 80%;
    margin: auto;
}
}