@import '/pages/base.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
#contactApp{
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: 
    'header'
    'center'
    'footer';  
}
.formDiv{
    width:100%;
    height: 10vmax;
}
.inputs{
    background-color:white;
    border: 0;
    height: 3vmax;
    width: 25%;
}
#message{
    height: 12vmax;
    resize: none;
}
#formButton{
    background-color:white;
    border: 0;
}
#formButton:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    cursor: pointer;
}
.label{
    width: 100%;
    height: 10vmax;
    vertical-align: top;
}
#formButton{
    font-family: 'Roboto', sans-serif;
}