@import '/pages/base.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
#solutionsApp {
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: 
    'header'
    'center'
    'footer';  
}
.button {
    height: 40vmax;    
    width: 25%;
    position: absolute;
    top: 0;
    background-color: rgba(1,1,1,0);
    border: 0;
    color: rgba(0,0,0,0);
    font-size: 10vmax;
}
.button:hover {
    color: rgba(255, 255, 255, 0.4);
}
#leftButton{
    transform: translate(-161%, 0);
    -ms-transform: translate(-161%, 0);
} 
#rightButton{
    transform: translate(61%, 0);
    -ms-transform: translate(61%, 0); 
}
#imgDiv {
    position: relative;
    width: 100%;
}
#devshowcaseheader{
    margin-top: 20vmax;
}
#devdescription{
    margin-bottom: 10vmax;
}